@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
.main-title{
    text-align: center;
    font-size: 3rem;
}
input{
    border-radius: 10px;
    margin-top: 10px;
}
.main{
    background-color: rgba(0, 0, 0, 0.363);
    width: 50%;
    height: 300px;
    border: solid 4px white;
    margin: 10% auto;
    text-align: center;
    
    .second-title{
        font-size: 2.5rem;
    }
}
.buttons{
    margin-top: 7%;
    
    .btnX{
        background-color: #fff;
        margin-right: 2%;
        border-radius: 25px;
        padding: 20px;
        border: solid 2px black;
    }
}
.parent{
    width: 50%;
    margin: 10% auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    .child{
        line-height: -20px;
        text-align: center;
        font-size: 2.5em;
        height: 150px;
        width: 33%;
        border: solid 3px white;
    }

}
ol, ul {
  padding-left: 30px;
}
.game-board{
    width: 70%;
    margin: 0 auto;
    margin-left: 35%;

}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
  color: rgb(255, 255, 255);
}
.square:hover{
    background-color: rgb(199, 29, 29);
}
.square:first-child, .square:nth-child(3), .square:nth-child(2){
    border-top: none;
}
.square:first-child, .square:nth-child(4), .square:nth-child(7){
    border-left: none;
}
.square:nth-child(3), .square:nth-child(6), .square:nth-child(9){
    border-right: none;
}
.square:nth-child(7), .square:nth-child(8), .square:nth-child(9){
    border-bottom: none;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

